{{/* SEO 扩展：JSON-LD 结构化数据 + Twitter Card + 国内 SEO */}}
{{ partial "jsonld.html" . }}
{{ partial "twitter_card.html" . }}
{{ partial "china_seo.html" . }}

{{/* 额外的 Open Graph 标签 */}}
{{ $image := .Params.image }}
{{ if not $image }}
  {{ $images := .Site.Params.images }}
  {{ if $images }}
    {{ $image = index $images 0 }}
  {{ end }}
{{ end }}
{{ if $image }}
  {{ if not (hasPrefix $image "http") }}
    {{ $image = printf "%s%s" .Site.BaseURL (strings.TrimPrefix "/" $image) }}
  {{ end }}
{{ end }}
{{ with $image }}
<meta property="og:image" content="{{ . }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{{ end }}
{{ with .Params.image }}
<meta property="og:image:alt" content="{{ $.Title }}">
{{ end }}